.aboutme-wrapper{
    background: var(--primary-light-grey);
    
}

.photo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    
    
}

.profile-img{
    width:16rem;
    border-radius: 50%;
    padding: .3rem;
    border: 1px solid var(--primary-green);

}

.about-heading{
    color: var(--primary-green);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3rem;
}

.icon-wrap{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #01bf71;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    cursor: pointer;
    z-index: 999;
}

.contact-icon {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 30px;
    height: 30px;
    margin: 0 0 10px 0;
    padding-right: 0;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media(max-width: 468px){
    
    .about-heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-img{
        width: 12rem;
    }

}