.portfolio-wrapper{
    background: var(--primary-light-grey);
    padding: 3rem 0;
}

.portfolio-wrapper h1{
    color: var(--primary-green);
    font-weight: bold;
}
.portfolio-image{
    width: 15rem;
    height: 9.5rem;
    border: 1px solid var(--primary-green);
    padding: 0.5rem;
}

.portfolio-image-box{
    position: relative;
    margin: 1rem;
}
.overflow{
    position: absolute;
    opacity: 0;
    background: black;
    width: 15rem;
    height: 9.5rem;
    top: 0;
    border: 1px solid var(--primary-red);
    cursor: pointer;
}

.portfolio-image-box:hover .overflow{
    opacity: 60%;
    transition: 0.3s ease-in-out;
    
}

.portfolio-icon{
    position: absolute;
    opacity: 0;
    margin-left: -8rem;
    margin-top: 3.6rem;
    color: var(--primary-green);
    font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon{
    opacity: 70%;
    transition: 0.3s ease-in-out;
}

.popupbox-wrapper{
    margin-top: 7rem;
}

.portfolio-image-popupbox{
    width: 45rem;
    padding: 0 0.5rem;
}

.hyper-link{
    cursor: pointer;
    color: var(--primary-green);
}

.hyper-link:hover{
    color: var(--primary-red);
}

p, b{
    margin-left: 15px;
    
}

.popupbox ul{
    display: flex;
    align-items: flex-start;
    margin: 10px;
    padding: 0 ;
}
.popupbox li{
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 5px;
    margin: 3px;
    list-style: none;
}





@media(max-width: 768px){
    .portfolio-image-popupbox{
        width: 100%;
    }
}

@media(max-height: 570px){
    .popupbox-wrapper{
        height: 100%;
    }
    .portfolio-image-popupbox{
        width: 50%;
    }
}

@media(max-height: 280px){
    .popupbox-wrapper{
        height: 90%;
    }
    .portfolio-image-popupbox{
        width: 30%;
    }
}
